{% extends 'base.html'%}

{% block title %} News And Event{% endblock %}

<!-- {% block hero %} News And Updates {% endblock %} -->

{% block content %} 

<section class="py-3">
    <div class="container">
        <div class="row g-4">
            <h3 class="mt-4">Notice Board</h3>
            {% for notice in notices %}
            <div class="row align-items-center">
                <div class="col-auto mb-3">
                    <div class="date-box d-flex flex-column justify-content-center">
                        <div class="day">30</div>
                        <div class="month-year">APR,2019</div>
                    </div>
                </div>
                <div class="col">
                    <h2 class="h4">Teaching Materials and Testing Methods</h2>
                    <p class="text-muted">{{ notice.notice }}</p>
                </div>
                {% empty %}
                <div class="col">
                    <!-- <h2 class="h4">Teaching Materials and Testing Methods</h2> -->
                    <p class="text-muted">No Notice Available</p>
                </div>
                <!-- <div class="col-auto">
                    <a href="#" class="read-more-btn rounded">Read More</a>
                </div> -->
                {% endfor %}
            </div>
        </div>
    </div>
</section>



<section class="py-3">
    <div class="container">
        <div class="row g-4">
            <h3 class="mt-4">Activities</h3>
            <!-- Event Card 1 -->
            {% for activity in activities %}
            <div class="col-md-6 col-lg-4">
                <div class="card event-card h-100">
                    <div class="position-relative">
                        <img src="{{ activity.image.url }}" class="card-img-top" alt="Event"  style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="date-badge">
                            <div class="h4 mb-0">18</div>
                            <small>DECEMBER</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ activity.title }}</h5>
                        <p class="text-muted mb-2">{{ activity.descriptions }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="py-3">
    <div class="container">
        <div class="row g-4">
            <h3 class="mt-4">Circulars</h3>
            <!-- Event Card 1 -->
            {% for circular in circulars %}
            <div class="col-md-6 col-lg-4">
                <div class="card event-card h-100">
                    <div class="position-relative">
                        <img src="{{ circular.image.url }}" class="card-img-top" alt="Event"  style="width: 100%; height: 200px; object-fit: cover;">
                        <div class="date-badge">
                            <div class="h4 mb-0">18</div>
                            <small>DECEMBER</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ circular.title }}</h5>
                        <!-- <p class="text-muted mb-2">{{ circular.title }}</p> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
